name: wechat blog auto

on: # workflow_dispatch
  schedule:
    - cron: '2 23 * * *'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - uses: szenius/set-timezone@v1.0
      with:
         timezoneLinux: "Asia/Shanghai"
    
    - name: Set up Python 3.8 # 安装环境
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
      #  cache: 'pip' # 设置缓存
        
    - name: Install dependencies # 安装依赖
      run: pip install requests
      
    - name: Test # 执行
      run: python main.py
